/venv
Python_Guia_de_Trabajo_semana_1.pdf
Python_Guia_de_Trabajo_semana_2-1.pdf
Python_Guia_de_Trabajo_semana_3.docx
Python_Guia_de_Trabajo_semana_3.docx_1.pdf
Python_Guia_de_Trabajo_semana_4.docx.pdf
.vscode

